/* Sticky footer styles -------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */

#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

.container-fluid .credit {
    margin: 20px 0;
    float: right;
}

/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Sticky footer styles -------------------------------------------- */

#example_4 ul li {
    padding-bottom: 10px;
}

#content {
    padding: 15px 20px 15px 10px;
}

#jenkins {
    margin-left: 10px;
}

.hero-unit {
    background-image: -moz-linear-gradient(top left, #5BAD3F 0%, #8CEF29 100%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #5BAD3F 0%, #8CEF29 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5BAD3F), color-stop(1, #8CEF29));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #5BAD3F 0%, #8CEF29 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, #5BAD3F 0%, #8CEF29 100);
    -webkit-border-top-left-radius: 45px;
    -webkit-border-bottom-right-radius: 45px;
    -moz-border-radius-topleft: 45px;
    -moz-border-radius-bottomright: 45px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-radius 45px 0px 0px 45px;
}

a {
    color: #5BAD3F;
    text-decoration: none;
}

.hero-unit h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 8px;
}

.span3 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.span4 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div#kudos table {
    font-size: 14px;
}

.span8 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar .nav li a:focus,
.navbar .nav li a:hover {
    color: rgb(184, 184, 184);
    text-decoration: none;
    background-color: transparent;
}

.badge_link {
    text-decoration: none !important;
}

.status_link {
    color: #5BAD3F;
}

i {
    border: solid;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#debug_mode {
    text-align: center;
    color: red;
}
