/*import fonts*/

@font-face {
    font-family:French;
    src:url('fonts/im-fell-french-canon.bold.ttf');
}

@font-face {
    font-family:FrenchItalic;
    src:url('fonts/im-fell-french-canon.italic.ttf');
}

#example_4 ul li {
  padding-bottom:10px;
  }

#content {
  padding:15px 20px 15px 10px;
  }

#jenkins {
    margin-left: 10px;
}

.hero-unit {
background-image:url(../img/matariki/matariki2.jpg);
background-size:cover;
background-repeat: no-repeat;
-webkit-border-top-left-radius: 45px;
-webkit-border-bottom-right-radius: 45px;
-moz-border-radius-topleft: 45px;
-moz-border-radius-bottomright: 45px;
border-top-left-radius: 45px;
border-bottom-right-radius: 45px;
border-radius 45px 0px 0px 45px;
}


a {
    color:#00173d;
    text-decoration: none;
}

a:hover {
    color:#00173d;
}

.hero-unit h1 {
    font-family:"Garamond", serif;
    color: white;
    margin-top: 8px;
    font-size:80px;
    font-weight:normal;

}

.span3 h3 {
    font-family:'French';
    font-weight: bold;
    color:#040057;
}

.span4 h3 {
    font-family:'French';
    font-weight: bold;
    color:#040057;
}

div#kudos table {
    font-size:14px;
}

.span8 h3 {
    font-family:'French';
    font-weight: bold;
}

.navbar, .navbar-inner {
background: #000000;
background: -moz-linear-gradient(-45deg, #000000 0%, #0c0136 34%, #090040 61%, #675e91 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #000000), color-stop(34%, #0c0136), color-stop(61%, #090040), color-stop(100%, #675e91));
background: -webkit-linear-gradient(-45deg, #000000 0%, #0c0136 34%, #090040 61%, #675e91 100%);
background: -o-linear-gradient(-45deg, #000000 0%, #0c0136 34%, #090040 61%, #675e91 100%);
background: -ms-linear-gradient(-45deg, #000000 0%, #0c0136 34%, #090040 61%, #675e91 100%);
background: linear-gradient(135deg, #000000 0%, #0c0136 34%, #090040 61%, #675e91 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#675e91', GradientType=1 );
font-size:25px;

}

#bz_status h2{
    font-family:'FrenchItalic'; 
    color:#a38500;
    font-weight:normal;
    font-size:45px;
}


.navbar .nav > li > a:hover {
    color:#f0c400;
}

.navbar .nav > li > a {
    font-family:'French';
    font-size:20px;
    font-weight:normal;
}
